.panel-body {
  form {
    .form-group {
      width: 100%;
      button.removeImage {
        display: block;
        margin-bottom: 30px;
      }
      label {
        font-weight: normal;
        margin-top: 20px;
        &.feeling {
          display: inline-block;
          margin-top: 0;
        }

        &> input {
          visibility: hidden;
          position: absolute;
          &:checked + i{
            color: $rosa;
          }
          &+i {
            cursor:pointer;
            border:2px solid transparent;
            font-size: 3em;
            &:hover {
              color: $rosa;
            }
          }
        }

        .required {
          color: $rosa;
          display: inline-block;
          margin-left: 4px;
        }
      }

      input {
        height: 50px;
      }
      textarea{
        height: 100px;
      }

      .image-upload {
        img {
          max-width: 100%;
        }
      }

    }
  }
}