/* COLORS */

$background-color: #E3E5E8;
$darker-gray: #BFBFBF;
$light-gray: #f3f3f3;
$light-black: #2f3036;
$pink: #E75280;
$turq: #19c589;
$white-smoke: #ECECEC;
$cararra: #F2F1EF;
$font-family: 'Montserrat', sans-serif;
$headline: 'Raleway', sans-serif;